<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comment</title>
  </head>
  <body>
    <h1>Make a new comment</h1>
    <form action="/comments/new" method="post">
      <div>
        <label for="username">Username: </label>
        <input
          type="text"
          placeholder="Username"
          name="username"
          id="username"
        />
      </div>
      <div>
        <label for="comment">Comment: </label>
        <br>
        <textarea type="text" cols="30" rows="5" placeholder="Comment" name="comment" id="comment" /></textarea>
      </div>
      <button>Submit</button>
    </form>
    <a href="/comments"><button>Back to Comments</button></a>
  </body>
</html>
